<div id="questionnaire">
    <header>
        <h1 class="lead">Discover Your Data Role</h1>
            <div class="progress-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>
    </header>
    <!-- Question 1 -->
    <div class="card active" data-question="1">
        <p>Q1 : Quelle description correspond le mieux à votre approche de résolution de problèmes ?</p>
        <button type="button" class="answer" data-question="1" value="A">Je préfère résoudre les problèmes en
            utilisant un raisonnement logique et des méthodologies structurées pour me guider
        </button>
        <button type="button" class="answer" data-question="1" value="B">Pour moi, la meilleure partie de la
            résolution de problèmes est de trouver des moyens d'automatiser certains aspects du processus
            décisionnel
        </button>
        <button type="button" class="answer" data-question="1" value="C">J'aime résoudre les problèmes en optimisant
            les stratégies et les processus d'affaires
        </button>
        <button type="button" class="answer" data-question="1" value="D">J'apprécie d'analyser des problèmes
            complexes pour trouver des solutions innovantes que d'autres n'auraient peut-être pas envisagées
        </button>
    </div>
    <!-- Question 2 -->
    <div class="card" data-question="2">
        <p>Q2 : Quel est votre sentiment à propos de la programmation et du codage ?</p>
        <button type="button" class="answer" data-question="2" value="A">Bien que je comprenne les concepts de
            programmation, mon principal intérêt se porte sur l'utilisation des outils existants d'intelligence
            d'affaires pour obtenir rapidement et efficacement des insights
        </button>
        <button type="button" class="answer" data-question="2" value="B">J'ai une certaine expérience en
            programmation, mais travailler avec des bibliothèques de code préexistantes est généralement suffisant
            pour mes besoins
        </button>
        <button type="button" class="answer" data-question="2" value="C">J'adore coder et j'apprécie de construire
            des algorithmes et des modèles à partir de zéro
        </button>
        <button type="button" class="answer" data-question="2" value="D">J'ai de l'expérience avec les langages de
            script et je sais comment automatiser les tâches de traitement des données
        </button>
    </div>
    <!-- Question 3 -->
    <div class="card" data-question="3">
        <p>Q3 : Quelle industrie pourrait vous attirer le plus ?</p>
        <button type="button" class="answer" data-question="3" value="A">Technologie et innovation</button>
        <button type="button" class="answer" data-question="3" value="B">Sports et divertissement</button>
        <button type="button" class="answer" data-question="3" value="C">Santé et médecine</button>
        <button type="button" class="answer" data-question="3" value="D">Affaires et consulting</button>
    </div>
    <!-- Question 4 -->
    <div class="card" data-question="4">
        <p>Q4 : Quelle est votre approche pour l'apprentissage continu et le développement professionnel ?</p>
        <button type="button" class="answer" data-question="4" value="A">Les conférences du secteur et la
            littérature spécifique m'aident à trouver des outils d'intelligence d'affaires qui complètent mon
            ensemble de compétences
        </button>
        <button type="button" class="answer" data-question="4" value="B">La seule compétence dont j'ai besoin est de
            trouver de nouvelles manières d'exploiter les grandes données—c'est là que réside l'avenir !
        </button>
        <button type="button" class="answer" data-question="4" value="C">Je lis constamment de nouveaux articles de
            recherche pour rester informé des dernières avancées technologiques
        </button>
        <button type="button" class="answer" data-question="4" value="D">Je mets toujours les besoins du client en
            premier, m'assurant que mon développement professionnel se concentre sur tout ce qui rendra leur vie
            meilleure
        </button>
    </div>
    <!-- Question 5 -->
    <div class="card" data-question="5">
        <p>Q5 : Quel est votre environnement de travail préféré ?</p>
        <button type="button" class="answer" data-question="5" value="A">Un hôpital ou un cadre de soins sociaux où
            je peux avoir un impact positif sur les patients et ceux qui en ont besoin
        </button>
        <button type="button" class="answer" data-question="5" value="B">Un laboratoire de recherche ou un cadre
            académique où je peux explorer des idées de pointe et travailler avec des experts techniques
        </button>
        <button type="button" class="answer" data-question="5" value="C">Une arène sportive ou un studio de
            diffusion où je peux travailler avec une diversité de personnes, des présentateurs aux athlètes et
            producteurs
        </button>
        <button type="button" class="answer" data-question="5" value="D">Un bureau d'entreprise avec un
            environnement de travail structuré et des objectifs clairs
        </button>
    </div>

    <!-- Question 6 -->
    <div class="card" data-question="6">
        <p>Q6 : Comment collaborez-vous avec les autres ?</p>
        <button type="button" class="answer" data-question="6" value="A">Je m'épanouis en résolvant des problèmes
            complexes en partenariat avec des équipes multidisciplinaires d'experts techniques
        </button>
        <button type="button" class="answer" data-question="6" value="B">J'apprécie de collaborer avec les parties
            prenantes de l'entreprise pour comprendre leurs besoins avant de concevoir des solutions pour les
            satisfaire
        </button>
        <button type="button" class="answer" data-question="6" value="C">Bien que je sois à l'aise pour travailler
            avec les autres, je préfère largement travailler seul sur des projets techniques qui me passionnent
        </button>
        <button type="button" class="answer" data-question="6" value="D">Je trouve inspirant de travailler avec des
            entraîneurs, des athlètes et d'autres personnes au sommet de leur forme physique
        </button>
    </div>

    <!-- Question 7 -->
    <div class="card" data-question="7">
        <p>Q7 : Comment pensez-vous que le souci du détail impacte votre travail dans un rôle lié aux données ?</p>
        <button type="button" class="answer" data-question="7" value="A">Je suis un perfectionniste — la précision
            est primordiale. Si je fais une erreur, cela me semble être un échec personnel
        </button>
        <button type="button" class="answer" data-question="7" value="B">Une planification soignée est la base de
            tout projet réussi, surtout si vous travaillez sur quelque chose de complexe ou technique, comme un
            algorithme
        </button>
        <button type="button" class="answer" data-question="7" value="C">Même la plus petite erreur peut avoir des
            conséquences importantes. Je m'attache beaucoup aux processus et à une infrastructure robuste
        </button>
        <button type="button" class="answer" data-question="7" value="D">Le diable se cache dans les détails : si je
            ne fais pas attention, je pourrais manquer des aperçus précieux et des opportunités qui aideront mon
            entreprise à rester en tête de la concurrence
        </button>
    </div>
    <!-- Question 8 -->
    <div class="card" data-question="8">
        <p>Q8 : Comment préférez-vous communiquer vos découvertes et insights aux autres ?</p>
        <button type="button" class="answer" data-question="8" value="A">Je valorise le partage d'insights
            significatifs qui contribuent au bien-être global et à la performance personnelle des gens
        </button>
        <button type="button" class="answer" data-question="8" value="B">J'excelle dans la communication de concepts
            complexes à des audiences techniques et non techniques
        </button>
        <button type="button" class="answer" data-question="8" value="C">J'aime présenter des insights à travers des
            visualisations de données et des tableaux de bord visuellement attrayants, de sorte qu'ils soient
            rapides et faciles à assimiler. Le temps, c'est de l'argent !
        </button>
        <button type="button" class="answer" data-question="8" value="D">Je suis le meilleur pour communiquer des
            informations techniques à des professionnels qui comprennent déjà les concepts et le langage
        </button>
    </div>
    <!-- Question 9 -->
    <div class="card" data-question="9">
        <p>Q9 : Comment gérez-vous l'ambiguïté et l'incertitude ?</p>
        <button type="button" class="answer" data-question="9" value="A">L'ambiguïté et l'incertitude font partie
            intégrante du travail avec des systèmes à grande échelle, on ne peut les éviter
        </button>
        <button type="button" class="answer" data-question="9" value="B">Les situations ambiguës sont les meilleures
            lorsqu'elles me donnent l'occasion de relever de nouveaux défis techniques
        </button>
        <button type="button" class="answer" data-question="9" value="C">Je préfère avoir des objectifs clairs et
            des tâches bien définies qui minimisent l'ambiguïté
        </button>
        <button type="button" class="answer" data-question="9" value="D">Je m'épanouis dans des situations ambiguës
            et incertaines — elles sont une opportunité pour la résolution créative de problèmes
        </button>
    </div>
    <!-- Question 10 -->
    <div class="card" data-question="10">
        <p>Q10 :Comment vous sentez-vous face à la montée récente des outils d'intelligence artificielle (IA) ?</p>
        <button type="button" class="answer" data-question="10" value="A">L'IA nous aidera à exploiter les données
            de manières inédites, propulsant l'économie vers des niveaux de croissance jamais imaginés auparavant
        </button>
        <button type="button" class="answer" data-question="10" value="B">Ces outils automatiseront les aspects
            fastidieux de notre travail, nous permettant de nous concentrer sur les domaines où les humains sont
            meilleurs et prennent plus de plaisir
        </button>
        <button type="button" class="answer" data-question="10" value="C">L'IA transformera la société en mieux,
            surtout alors que nous aspirons à améliorer des choses comme les services publics et les soins sociaux
        </button>
        <button type="button" class="answer" data-question="10" value="D">Ce qui m'intéresse le plus, c'est de
            comprendre comment ces outils fonctionnent en interne. J'aimerais contribuer à leur développement, ainsi
            qu'aux normes éthiques qui entourent leur utilisation
        </button>
    </div>


</div>